.enlace{
 text-decoration:none;
 color:#fff;
}
.verde{
  color:#28a745;
}
.link{
  color: #007bff;
  text-decoration: none;
}
.link:hover{
  color: #0056b3;
  text-decoration: underline;
  cursor:pointer;
}
.label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}
.input {
  width: 13px;
  height: 13px;
  padding: 0;
  margin:0;
  vertical-align: inherit;
  position: relative;
  *overflow: hidden;
}
.mar{
  margin-top: 50px;
  margin-bottom: 20px;
}
