<div class="container-fluid footer">
    <div class="container contenido-footer">


        <div class="footer-uach text-center">
            <img class="logo" src="../../../../assets/logo-footer.png" alt="">
            <h1>Universidad Austral de Chile</h1>
        </div>


        <div class="footer-direccion">
            <p>Instituto de Materiales y Procesos Termomecánicos · General Lagos 2086 · Tel: <a href="tel:56 63 2221863">+56 63 2221863</a> · Valdivia · Chile</p>
        </div>
        <div class="linea"></div>
        <div class="footer-link">
            <ul>
                <li><a href="http://empleos.uach.cl">Bolsa de trabajo UACh</a></li>
                <li><a class="borde" href="http://ingenieria.uach.cl">Facultad de Ciencias de la Ingeniería UACh</a></li>
                <li><a class="borde" href="http://civilmecanica.uach.cl">Escuela ICM</a></li>
                <li><a class="borde" href="http://mimm.uach.cl">Mg. en Ingeniería Mecánica y Materiales</a></li>
            </ul>
        </div>
        <div class="linea"></div>
    </div>
    <div class="footer_derechos">©2018 T.E.R.A. - Todos los derechos reservados</div>
</div>